<style>
  #about .user-details {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
  }
  #about .tech {
    margin-bottom: 2rem;
  }
</style>

<section id="about">
  <div class="user-details">
    <h1>Selected Research Projects</h1>

    <div class="tech">
      <h2>1. Mobile Traffic Prediction using LLMs with Efficient In-context Demonstration Selection </h2>
      <img src="/assets/images/llm_traffic.png" alt="Diagram" style="max-width: 80%; height: auto;">
      <p>
       This research introduces a context-aware wireless traffic prediction framework powered by LLMs.
       To enhance prediction accuracy, we leverage in-context learning (ICL) and develop a novel two-step demonstration selection strategy, optimizing the performance of LLM-based predictions. 
        The initial step involves selecting ICL demonstrations using the effectiveness rule, followed by a second step that determines whether the chosen demonstrations should be utilized, based on the informativeness rule. 
        We also provide an analytical framework for both informativeness and effectiveness rules.
        <br><strong>Impact:</strong> Published in IEEE TCOM 2025; US provisional patent filed.
      </p>
    </div>

    <div class="tech">
      <h2>2. Choice-based Federated Learning for Safe Cooperation in Wireless Networks</h2>
      <img src="/assets/images/choice.png" alt="Diagram" style="max-width: 80%; height: auto;">
      <p>
       In this researc, we first overview benefits and concerns when applying FL to wireless networks. 
        Next, we provide a new perspective on existing personalized FL frameworks by analyzing the relationship between cooperation and personalization in these frameworks. 
        Additionally, we discuss the possibility of tuning the cooperation level with a choicebased approach. 
        Our choice-based FL approach is a flexible and safe FL framework that allows participants to lower the level of cooperation when they feel unsafe or unable to benefit from the cooperation.
        <br><strong>Impact:</strong> Published in IEEE wireless communications; US provisional patent filed.
      </p>
    </div>

    <div class="tech">
      <h2>3. On-Device Intelligence for 5G RAN: Knowledge Transfer and Federated Learning enabled UE-Centric Traffic Steering</h2>
      <img src="/assets/images/on-device.png" alt="Diagram" style="max-width: 80%; height: auto;">
      <p>
        In this research, we propose a knowledge transfer and federated learning-enabled UE-centric (KT-FLUC) TS framework for highly dynamic 5G radio access networks (RAN). 
        Specifically, first, we propose an attention-weighted group federated learning scheme. 
        It enables intelligent UEs to make TS decisions autonomously using local models and observations, and a global model is defined to coordinate local TS decisions and share experiences among UEs. 
        Secondly, considering the individual UE's limited computation and energy resources, a growing and pruning-based model compression method is introduced, mitigating the computation burden of UEs and reducing the communication overhead of federated learning. 
        In addition, we propose a Q-value-based knowledge transfer method to initialize newcomer UEs, achieving a jump start for their training efficiency. 
        <br><strong>Impact:</strong> Published in IEEE Transactions on Cognitive Communications and Networks; US patent filed.
      </p>
    </div>
  </div>
</section>
